body {
    font-family: 'Montserrat', sans-serif;
    background-color:whitesmoke;
    /* font-weight: bold; */
}

.socialmedia {
    color: white;
}
.socialmedia:hover {
    color: #00acee;
}

a {
    color: white;
}

shows a{
    color: black;
}

header .nav-item {
	margin-right: 20px;
	text-align: center;
	
}

.navbar-collapse .bookbutton{
	align-items: center;
	justify-content: center;
	text-align: center;
}


/* .bar {
	width: 240px;
	height: 26px;
	background-color: #446fd4;
	margin: auto;
	margin-top: -47px;
	border-radius: 2px;
} */

h1 {
	text-align: center;
	padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 42px;
	color: #343434;
}

.banner-text {
 padding-top: 200px;
}

.banner-image{
    padding: 100px;
}

a:hover {
	color: red;
}

.navbar-nav li a {
	font-size: 18px;
	font-weight: 500;
}

.shows a {
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
}

.redd .active {
	background-color: #dc3545!important;
	color: white!important;
}

.card-title {
	font-size: large;
	font-weight: bold;
}

.shows .card {
	height: 715px;
}

.show-tag {
	background-color: red;
}

.tab-content .card img {
	height: 505px!important;
}

.cinema-img img{
	padding-left: 0px!important;
	margin-left: 0px!important;
}

@media only screen and (max-width: 768px) {
	.shows .card {
		height: auto;
	}

	.banner-image{
		padding-top: 50px;
		padding-bottom: 0;
		padding-left: 30px;
		padding-right: 30px;
		margin-bottom: -100px;
	}

	h1{
		font-size: 40px;
		font-weight: bold!important;
	}

	.navbar-brand {
		padding-left: 10px;
		scale: 0.9;
	}

	#navbar .nav-link {
		font-weight: bolder!important;
		font-size: 18px!important;
		text-align: center;
	}

	.banner-text {
		padding-bottom: 20px;
	}

	.bookbutton a{
		font-size: 18px;
		font-weight: bolder;
	}

	.maps iframe{
		width: 350px!important;
		
	}

	.cinema-img {
		padding: 0!important;
		margin-top: -100px;
		margin-bottom: -150px;
		/* scale: 0.8; */
	}

	.venue-align {
		text-align: center;
		padding-bottom: 10px;
	}
  }